/* common shared styles */



body{
    
    font-family: 'Inter', sans-serif;

    }
.container{
    position: relative;
    text-align: center;
    color: white;
    


}
.container-title{
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
  
    display: flex;
    align-items: center;

    width: 1320px;
    height: 600px;;
    
}

.right{
    position: absolute;
top: 68px;
right: 416px;

}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
.banner{
    font-size: 32px;
        padding-top: 177px;
        margin:auto;
        padding-bottom: 16px;


}
.banner-title{
font-size: 72px;
padding-bottom: 177px ;
margin: auto;

}
.off{
    color: #F00;

       text-align: center;
       font-size: 88px;
       font-style: normal;
       font-weight: 700;
       margin: auto;
       padding-top: 120px;
       padding-bottom: 48px;
}
.deal{
    color: #F00;
       text-align: center;
       font-size: 24px;
       font-weight: 500;
       line-height: normal;
       margin: auto;
       
}
.cat{
    color: #070211;
text-align: center;

font-size: 48px;
font-style: normal;
font-weight: 700;
margin: auto;
padding-top: 16px;

}
.year{
    width: 802.9px;
height: 500px;
display: block;
margin: auto;
padding-top: 48px;
padding-bottom: 120px;
}
.left{
 
position: absolute;
top: 126px;
left: 266px;

}
.midnight{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
text-align: left;
width: 642px;
height: 176px;
padding-left: 126px;
padding-top: 126px;
margin: 0;
}
.dolor{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
width: 697px;
line-height: 30px;
font-style: normal;
padding-left: 126px;
padding-top: 24px;
}

.join{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;

text-transform: uppercase;
padding-left: 158px;
padding-top: 48px;
padding-bottom: 142px;
}
.container-title .twofour{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotel{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
        width: 1320px;
    height: 600px;
    text-align: center;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 16px;
    
   
}

.about-info{
    text-align: center;
font-family: Inter;
font-size: 32px;

font-weight: 600;
line-height: 48px;
text-transform: capitalize;
margin: auto;
 
}
.btn{
    border-radius: 8px;
    border: 16px 32px;
background: #F00;
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border: 0;
color: white;
font-weight: 700;
font-size: 20px;
}

.circle{
    width: 1320px;
height: 463px;
 display: flex;
 align-items: center;
 margin: auto;

}
.ellipse{
background-position: center;
border-radius: 463px;
width: 463px;
height: 463px;
flex-shrink: 0;
border: 15px solid #F00;

margin:auto;

}


.best{
  

    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sit{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    width: 393px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.dol{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.amet{color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 276px;
}
.func{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    padding-bottom: 16px;
}
.sale{

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: auto;
}
.ege{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
width: 1068px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
margin: auto;
padding-top: 28px;
}
.box{
    
    width: 1320px;
height: 229px;
display: inline;
margin: 0;
}
.red-box{
    text-align: center;
    background-image: url(../image/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    top: 20px;
    height: 600px;
}
.red{
   padding-right: 663px;
   height: 650px;
    
}
.girl{
    text-align: right;
    margin: 0;
    
}

.awesome{
    text-align: left;
    margin: auto;
    
}
.bst{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    padding-left: 120px;
    padding-right: 1268px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.our{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.dolo{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 896px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}


.rect{
   position: relative;
  
   left: 446px;
   
}
.corn{
    position: absolute;
    bottom: 0px;
    right: 220px;
    display:inline-block;
}
.bt{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.on{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.st{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    width: 896px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.imagelist{
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.hol{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
height: 600px;
text-align: center;
position: relative;
display: block;
margin: auto;
border-radius: 16px;

}
.ig{
    align-items:center ;
}
.subs{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
  
    font-weight: 900;
    padding-bottom: 4px;
    text-transform: capitalize;
}
.doli{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
    font-family: Inter;
    width: 896px;
    font-size: 20px;
    padding-left: 212px;
    padding-right: 212px
  
    font-weight: 400;
    line-height: 32px;
}
.search{
 width: 648px;
border-radius: 50px;
background: #FFF;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50px;
}
form{
    background: #Fff;
    width:648px ;
    height: 72px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    background: #FF0000;
    padding: 10px;
    border: none;
    outline: none;
    color: #Fff;
    letter-spacing: 1px;
    border-radius: ;
}
.foot{
    background: black;
    height: 609px;
    width: 1600px;
   
}
.ft{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
   
    font-weight: 500;
    line-height: 40px; /* 166.667% */

}
.st{
    color: #d60808;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
text-align: right;
}
.iconlist{
    text-align: center;
    padding: -298px 632px 247px 640px;
}